/*  your css code here. If applicable */
#grid-container{
	display:grid;
	grid-template-columns:repeat(3,100px);
	grid-template-rows:repeat(3,100px);
}
.grid-item{
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid black;
	gap:2px;
}